.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px @padding 60px @padding;
}

.advantages__title {
  padding-bottom: 4px;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  text-align: center;

  &--speed {
    background-image: url(../img/backgrounds/stopwatch.svg);
  }

  &--convenience {
    background-image: url(../img/backgrounds/pocket.svg);
  }

  &--vivacity {
    background-image: url(../img/backgrounds/lightning.svg);
  }

  &--ecologic {
    background-image: url(../img/backgrounds/leaf.svg);
  }
}
