.catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px @padding 44px @padding;
  background-color: var(--bg-color-first);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    height: 100%;
    width: 100vw;
    background-color: var(--bg-color-first);
    z-index: -1;
  }
}

.catalog__title {
  padding-bottom: 20px;
}

.catalog__filters {
  padding-bottom: 40px;
  min-width: calc(320px - 2 * @padding);
}

@media (min-width: @tablet) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

@media (min-width: @desktop) {
  .catalog {
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 0 30px;
    padding: 100px @padding-desktop 120px @padding-desktop;
  }

  .catalog__badge {
    grid-column: 1 / -1;
  }

  .catalog__title {
    grid-column: 1 / -1;
    padding-bottom: 40px;
  }

  .catalog__filters {
    grid-column: 1 / 2;
  }

  .catalog__cards {
    grid-column: 2 / 3;
  }
}
