.item-card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 4px;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
}

.item-card__link-image {
  display: flex;
  justify-content: center;
}

.item-card__image {
  margin-top: 20px;
  margin-bottom: 24px;
}

.item-card__link-title {
  margin-bottom: 4px;
}

.item-card__text {
  padding-bottom: 16px;
}

@media (min-width: @tablet) {
  .item-card {
    max-width: 349px;
    padding: 30px;
  }

  .item-card__image {
    margin-bottom: 30px;
  }

  .item-card__link-title {
    margin-bottom: 10px;
  }

  .item-card__text {
    padding-bottom: 20px;
  }
}

@media (min-width: @desktop) {
  .item-card {
    max-width: 318px;
  }
}
