.navigation-buttons {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: end;
}

.navigation-buttons__item {
  display: flex;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  &:last-of-type {
    margin-right: 10px;
  }
}

.navigation-buttons__button {
  min-width: 40px;
  min-height: 40px;
  padding: 10px;

  &:active {
    background-color: var(--secondary-color);
  }
}

.navigation-buttons__button-image {
  display: block;
  margin-left: 2px;
}

.navigation-buttons__button-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@media (min-width: @tablet) {
  .navigation-buttons {
    grid-column: -2 / -1;
    height: 100%;
  }

  .navigation-buttons__item {
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  .navigation-buttons__button {
    padding: 30px 15px;
    outline: none;

    &:hover .navigation-buttons__button-image {
      fill: var(--primary-color);
    }

    &:focus-visible .navigation-buttons__button-image {
      fill: var(--primary-color);
    }
  }

  .navigation-buttons__button-image {
    margin-top: 2px;
  }
}

@media (min-width: @desktop) {
  .navigation-buttons__item {
    &:not(:last-of-type) {
      margin-right: 15px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .navigation-buttons__button {
    display: flex;
    padding: 30px 22px;

    &:hover {
      color: var(--primary-color);
    }

    &:focus-visible {
      color: var(--primary-color);
    }
  }

  .navigation-buttons__button-image {
    margin-right: 8px;
  }

  .navigation-buttons__button-text {
    position: initial;
    width: initial;
    height: initial;
    align-self: center;
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
