.navigation-buttons {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: end;
}

.navigation-buttons__button {
  padding: 10px;

  &:active {
    background-color: var(--secondary-color);
  }
}
