.page-footer {
  display: flex;
  flex-direction: column;
  padding: @padding;
  padding-bottom: 10px;
}

.page-footer__links-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__developer {
  align-self: center;
}
