.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.pagination__text {
  display: none;
}

@media (min-width: @tablet) {
  .pagination {
    justify-content: flex-end;
  }

  .pagination__text {
    display: initial;
  }

  .pagination__button {
    &--left {
      min-width: 150px;
    }

    &--right {
      min-width: 150px;
    }
  }
}
