.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slider__container {
  display: none;
  position: relative;
  max-width: 400px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    height: 100%;
    width: 100vw;
    z-index: -1;
  }

  &--decaf {
    background-color: var(--bg-color-second);

    &::before {
      background-color: var(--bg-color-second);
    }
  }

  &--lavender {
    background-color: var(--bg-color-fourt);

    &::before {
      background-color: var(--bg-color-fourt);
    }
  }

  &--espresso {
    background-color: var(--bg-color-third);

    &::before {
      background-color: var(--bg-color-third);
    }
  }

  &--current {
    display: flex;
    flex-direction: column;
  }
}

.slider__image {
  padding-top: 20px;
  padding-bottom: 10px;
}

.slider__title {
  padding-bottom: 10px;
}

.slider__text {
  padding-bottom: 20px;
}

.slider__price-container {
  padding: 0 25px 60px 25px;
}

.slider__small-buttons-container {
  display: none;
}
