.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @padding;
  text-align: center;
  background-color: var(--bg-color-second);
}

.slider__container {
  display: none;
  position: relative;
  max-width: 400px;

  &--current {
    display: flex;
    flex-direction: column;
  }
}

.slider__image {
  padding-bottom: 10px;
}

.slider__title {
  padding-bottom: 10px;
}

.slider__text {
  padding-bottom: 20px;
}

.slider__price-container {
  padding: 0 25px 60px 25px;
}
