:root {
  // Шрифты
  --main-font: "Montserrat", arial, sans-serif;

  // Цвета
  --white: #ffffff;
  --black: #333333;
  --gray: #bdbdbd;
  --primary-color: #7859cf;
  --secondary-color: #f0ebff;
  --primary-color-darker: #593cac;
  --primary-color-lighter: #9070ce;
  --alternative-color: #e2e2e2;
  --bg-color-first: #f8f8f8;
  --bg-color-second: #f3ebe1;
  --bg-color-third: #e5e6e8;
  --bg-color-fourth: #eae6fc;
  --font-color-primary: #333333;
}

// Размеры экрана и паддингов
@tablet: 768px;
@desktop: 1440px;
@padding: 20px;
@padding-desktop: 40px;
