:root {
  // Шрифты
  --main-font: "Montserrat", arial, sans-serif;
  // --secondary-font: arial, sans-serif;

  // Цвета
  --white: #ffffff;
  --black: #000000;
  // --primary-color: #68b738;
  // --secondary-color: #5eaa2f;
  // --border-color: #d9d9d9;
  // --border-field-color-secondary: #cdcdcd;
  // --border-field-color-secondary-hover: #bababa;
  // --border-field-color-primary: #e7e7e7;
  // --border-status-error: #ff8282;
  // --page-bg: #ffffff;
  // --primary-bg: #f2f2f2;
  // --secondary-bg: #eaeaea;
  // --font-color-primary: #000000;
  // --font-color-secondary: #444444;
  // --title-color: #000000;
}

// Размеры экрана и паддингов
@tablet: 768px;
@desktop: 1440px;
// @padding-mobile: 20px;
// @padding-tablet: 30px;
// @padding-desktop: 110px;
